@model IEnumerable<Group01_PRJ.Models.UserClass>

@{
    ViewData["Title"] = "User Class";
}

<h1>User for class</h1>
<form method="GET" class="d-flex">
    <div class="form-group">
        <select name="Classid" id="Classid" class="form-control" asp-items="ViewBag.Classid">
              <option value="">Classes</option>
        </select>
    </div>
    <div class="form-group ml-2">
        <select  name="Courseid" id="Courseid" class="form-control" asp-items="ViewBag.Courseid">
            <option value="">Course</option>
        </select>
    </div>
    <div class="form-group ml-2">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new {  classId = item.Classid, courseId = item.Courseid, userId = item.Userid }) |
                    @Html.ActionLink("Delete", "Delete", new {  classId = item.Classid, courseId = item.Courseid, userId = item.Userid })
                </td>
            </tr>
        }
    </tbody>
</table>
