@model IEnumerable<Group01_PRJ.Models.Session>

@{
    ViewData["Title"] = "Session";
}

<h1>Session</h1>
<form method="GET" class="d-flex">
    <div class="form-group">
        <select  name="Classid" id="Classid" class="form-control" asp-items="ViewBag.Classid">
             <option value="">Classes</option>
        </select>
    </div>
    <div class="form-group ml-2">
        <select  name="Courseid" id="Courseid" class="form-control" asp-items="ViewBag.Courseid">
            <option value="">Course</option>
        </select>
    </div>
    <div class="form-group ml-2">
        <select  name="RoomId" id="RoomId" class="form-control" asp-items="ViewBag.RoomId">
            <option value="">Room</option>
        </select>
    </div>
    <div class="form-group ml-2">
        <select  name="SlotId" id="SlotId" class="form-control" asp-items="ViewBag.SlotId">
            <option value="">Slot</option>
        </select>
    </div>
    <div class="form-group ml-2">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { roomId = item.Roomid, slotId = item.Slotid, date = item.Date }) |
                @Html.ActionLink("Details", "Details", new { roomId = item.Roomid, slotId = item.Slotid, date = item.Date }) |
                @Html.ActionLink("Delete", "Delete", new { roomId = item.Roomid, slotId = item.Slotid, date = item.Date })
            </td>
        </tr>
}
    </tbody>
</table>
